<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>文档</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/element-ui@2.8.2/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prismjs@1.16.0/themes/prism.css">
    <style>
        html, body {
            margin: 1% 0.5% 0.5% 0.5%;
            width: 99%;
            height: 98.5%;
            overflow: hidden;
        }
    </style>
</head>
<body>
<div id="app" style="height: 100%;overflow: hidden;">
    <el-container style="height:100%;">
        <el-aside>
            <el-container>
                <el-header>
                    <el-input
                            placeholder="搜索"
                            suffix-icon="el-icon-search"
                            v-model="keyword"
                            @keydown.enter.native="search">
                    </el-input>
                </el-header>
                <el-main>
                    <el-collapse v-model="mode" accordion>
                        <el-collapse-item title="目录" name="toc">
                            <el-tree
                                    :data="toc"
                                    accordion
                                    highlight-current="true"
                                    @node-click="onTocClick">
                            </el-tree>
                        </el-collapse-item>
                        <el-collapse-item :title="search_title" name="search">
                            <el-tree
                                    :data="list"
                                    :props="{'label':'key', 'id': 'key'}"
                                    accordion
                                    highlight-current="true"
                                    @node-click="onSearchClick">
                            </el-tree>
                        </el-collapse-item>
                    </el-collapse>
                </el-main>
            </el-container>
        </el-aside>
        <el-main>
            <div v-html="marked"></div>
        </el-main>
    </el-container>
</div>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios@0.18.0/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/element-ui@2.8.2/lib/index.js"></script>
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/prismjs@1.16.0/prism.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/prismjs@1.16.0/components/prism-bash.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/prismjs@1.16.0/components/prism-http.min.js"></script>
<script src="index.js" charset="utf-8"></script>
</body>
